footer {
    padding: 20px;
    border: 1px solid blue;
    background-color: rgb(0, 183, 255);
    background-image: url(../imagenes/impresora.png);
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;

    p {
        font-size: 10px;
    }

    .footerEnlaces {
        color: rgb(247, 0, 0);
    }
}